<p><em><strong><span style="color: #000080;">Vacancies</span></strong></em></p>
<hr />
{% if vacancies_list %}
	<ul>
	{% for vacancy in vacancies_list %}	
		<li><a href="/vacancies/vacancy/{{vacancy.id}}/">{{ vacancy.vacancy_name }} </a></li>
	{% endfor %}
	</ul>
{% else %}
	<p>No vacancies are avaliable at this moment.</p>
{% endif %}