{% if posts %}
	{% for post in posts %}
		<p><strong>{{ post.header }}</strong></p>
		<p>Опубликовано: {{ post.date }}</p>
		<br>
		<p>{{ post.content }}</p>
		<a href="http://127.0.0.1:8008/blog/post/{{ post.id }}/">Подробнее</a>
		<hr>
		<br>
	{% endfor %}
{% endif %}
{% if pages %}
	{% for i in pages %}
		<a href='http://127.0.0.1:8008/blog/page/{{ i }}/'>{{ i }}</a>
	{% endfor %}
{% endif %}